QWidget#configurator {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #00374E, stop: 0.2 #255 stop:0.5 #7B94A9, stop:0.8 #255 stop:1 #00374E);
    border: 2px solid white;
    border-radius: 20px;
}

.QLabel {
    color: white;
}

.QGroupBox {
    color: white;
}

.QCheckBox {
    color: white;
}

/* base style */
.QPushButton {
    color: white;
    border-radius: 5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #7B94A9, stop:1 #0089FF);
    border: 1px solid #FFFFFF;
}

.QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #D288FF, stop:1 #000000);
}

.QPushButton:pressed {
    border: 2px solid #000000;
}

.QComboBox {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #5B5B5B, stop: 0.2 #255 stop:0.5 #7B94A9, stop:0.8 #255 stop:1 #5B5B5B);
    color: white;
}

.QComboBox QAbstractItemView {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #5B5B5B, stop: 0.2 #255 stop:0.5 #7B94A9, stop:0.8 #255 stop:1 #5B5B5B);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    selection-background-color: black;
}

.QLineEdit {
    border: 1px solid black;
    border-radius: 5px;
    selection-background-color: black;
    background: white;
    color: black;
}
